{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Redis full-text search</h1>
    <a href="{{ path('recipe') }}">Recipes</a>
    <a href="{{ path('bike') }}">Bikes</a>
{% endblock %}
